/*{
    margin: 10px;
    padding: 20px;
}*/
body {
    display:flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}
.wrapper{
    width: 420px;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

#ip-input{
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline: none;
    border: 5px solid rgba(255,255,255,.8);
    border-radius: 40px;
    margin: 30px 0;
    font-size: 20px;
    text-align: center;
    color:#fff;
}
input::placeholder{
    color: #fff;
    text-align: center;
}

.wrapper #scan-button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    
}

.input-label{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:20px;
}

#results, #error{
    margin-top: 20px;
    text-align: left;
    padding: 15px;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    white-space: pre-wrap;

}

#error{
    background-color: rgba(0,0,0,.5);
}

.spinner{
    border: 4px solid rgba(255,255,255,.1);
    border-left-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 20px auto
}

#scanning-message{
    display: none;
}

@keyframes spin {
    to { transform: rotate(360deg);}
    
}